In [1]:
import pandas as pd

In [2]:
stock_prices = pd.read_csv('assets/stock_prices.csv')
stock_prices

        stock        date    open      high       low   close       volume
0       Apple  2025-05-15  210.95  212.9600  209.5400  211.45   45029473.0
1       Apple  2025-05-14  212.43  213.9400  210.5801  212.33   49325825.0
2       Apple  2025-05-13  210.43  213.4000  209.0000  212.93   51909332.0
3       Apple  2025-05-12  210.97  211.2679  206.7500  210.79   63775814.0
4       Apple  2025-05-09  199.00  200.5399  197.5350  198.53   36453923.0
..        ...         ...     ...       ...       ...     ...          ...
995  Palantir  2024-12-26   83.16   83.4900   81.3000   82.14   60547746.0
996  Palantir  2024-12-24   81.09   84.7968   81.0000   82.38   64983263.0
997  Palantir  2024-12-23   80.65   82.0200   77.4100   80.69   93819484.0
998  Palantir  2024-12-20   72.64   80.6600   71.5000   80.55  281230836.0
999  Palantir  2024-12-19   73.99   76.5900   73.3700   74.21   99524332.0

[1000 rows x 7 columns]

In [4]:
news_sentiment = pd.read_csv('assets/news_sentiment.csv')
news_sentiment

       ticker        date  article_count  avg_sentiment
0         AMD  2025-05-12             10          0.198
1         AMD  2025-05-13              9          0.384
2         AMD  2025-05-14              8          0.153
3         AMD  2025-05-15              8          0.381
4      Amazon  2025-05-12             10         -0.015
5      Amazon  2025-05-13             10          0.541
6      Amazon  2025-05-14             10          0.426
7      Amazon  2025-05-15             10          0.226
8       Apple  2025-05-12              9          0.997
9       Apple  2025-05-13             10          0.448
10      Apple  2025-05-14             10          0.612
11      Apple  2025-05-15              9          0.804
12     Google  2025-05-12             10          0.938
13     Google  2025-05-13             10          0.635
14     Google  2025-05-14             10         -0.051
15     Google  2025-05-15             10          0.399
16       Meta  2025-05-12              8          0.234
17       Meta  2025-05-13             10          0.413
18       Meta  2025-05-14              8          0.863
19       Meta  2025-05-15             10          0.311
20  Microsoft  2025-05-12              9          0.554
21  Microsoft  2025-05-13             10          0.345
22  Microsoft  2025-05-14              9          0.599
23  Microsoft  2025-05-15             10          0.413
24    Netflix  2025-05-12              9          0.556
25    Netflix  2025-05-13              9          0.391
26    Netflix  2025-05-14             10          0.763
27    Netflix  2025-05-15             10          0.567
28     Nvidia  2025-05-12              8          0.179
29     Nvidia  2025-05-13              4         -0.441
30     Nvidia  2025-05-14              8          0.065
31     Nvidia  2025-05-15              7          0.202
32   Palantir  2025-05-12              8          0.165
33   Palantir  2025-05-13              2         -1.000
34   Palantir  2025-05-14              6          0.232
35   Palantir  2025-05-15              9         -0.278
36      Tesla  2025-05-12              6          0.400
37      Tesla  2025-05-13              6          0.192
38      Tesla  2025-05-14              8          0.396
39      Tesla  2025-05-15              8          0.627

In [22]:
news_sentiment['date'] = pd.to_datetime(news_sentiment['date']) + pd.Timedelta(days = 1)

In [25]:
stock_prices['date'] = pd.to_datetime(stock_prices['date'])

In [26]:
merged = pd.merge(stock_prices, news_sentiment, on = 'date', how = 'inner')
merged = merged[['stock', 'date', 'close', 'avg_sentiment']]
merged

        stock       date   close  avg_sentiment
0       Apple 2025-05-15  211.45          0.153
1       Apple 2025-05-15  211.45          0.426
2       Apple 2025-05-15  211.45          0.612
3       Apple 2025-05-15  211.45         -0.051
4       Apple 2025-05-15  211.45          0.863
..        ...        ...     ...            ...
295  Palantir 2025-05-13  128.10          0.554
296  Palantir 2025-05-13  128.10          0.556
297  Palantir 2025-05-13  128.10          0.179
298  Palantir 2025-05-13  128.10          0.165
299  Palantir 2025-05-13  128.10          0.400

[300 rows x 4 columns]

In [27]:
merged.groupby(['stock', 'date']).agg({
    'close':'mean',
    'avg_sentiment': 'mean'
}).reset_index()

        stock       date    close  avg_sentiment
0         AMD 2025-05-13   112.46         0.4206
1         AMD 2025-05-14   117.72         0.1908
2         AMD 2025-05-15   114.99         0.4058
3      Amazon 2025-05-13   211.37         0.4206
4      Amazon 2025-05-14   210.25         0.1908
5      Amazon 2025-05-15   205.17         0.4058
6       Apple 2025-05-13   212.93         0.4206
7       Apple 2025-05-14   212.33         0.1908
8       Apple 2025-05-15   211.45         0.4058
9      Google 2025-05-13   160.89         0.4206
10     Google 2025-05-14   166.81         0.1908
11     Google 2025-05-15   165.40         0.4058
12       Meta 2025-05-13   656.03         0.4206
13       Meta 2025-05-14   659.36         0.1908
14       Meta 2025-05-15   643.88         0.4058
15  Microsoft 2025-05-13   449.14         0.4206
16  Microsoft 2025-05-14   452.94         0.1908
17  Microsoft 2025-05-15   453.13         0.4058
18    Netflix 2025-05-13  1138.44         0.4206
19    Netflix 2025-05-14  1150.99         0.1908
20    Netflix 2025-05-15  1177.98         0.4058
21     Nvidia 2025-05-13   129.93         0.4206
22     Nvidia 2025-05-14   135.34         0.1908
23     Nvidia 2025-05-15   134.83         0.4058
24   Palantir 2025-05-13   128.10         0.4206
25   Palantir 2025-05-14   130.18         0.1908
26   Palantir 2025-05-15   128.12         0.4058
27      Tesla 2025-05-13   334.07         0.4206
28      Tesla 2025-05-14   347.68         0.1908
29      Tesla 2025-05-15   342.82         0.4058

In [28]:
correlation = merged['close'].corr(merged['avg_sentiment'])

In [29]:
correlation

-0.0012282181410083555